<div class="container">
  <div class="row">
    <p class="col-2 font-weight-bold bg-secondary text-light text-center m-5 h5">
      マイページ
    </p>
  </div>



<div class="row ml-5 pl-5">
  <div class="col-5 d-flex ml-5 pl-5">
    <h4 class="font-weight-bold ml-5 mr-3">登録情報</h4>
    <%= link_to '編集する', public_customers_information_edit_path(@customer), class: "btn btn-success" %>
  </div>
</div>

<div class="row d-flex justify-content-center mt-3 mb-3">
  <div class="col-7">
    <table class="table table-bordered">
      <tr class="thead-light">
        <th class="w-25">氏名</th>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr class="thead-light">
        <th>フリガナ</th>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr class="thead-light">
        <th>郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr class="thead-light">
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr class="thead-light">
        <th>電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr class="thead-light">
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </table>
  </div>
</div>

  <div class="row ml-5 pl-5 mb-3">
    <div class="col-5 d-flex ml-5 pl-5">
      <h4 class="font-weight-bold ml-5 mr-3">配送先　</h4>
      <%= link_to '一覧を見る', public_addresses_path(@customer), class: "btn btn-primary form-control w-50" %>
    </div>
  </div>
  <div class="row ml-5 pl-5 mb-3">
    <div class="col-5 d-flex ml-5 pl-5">
      <h4 class="font-weight-bold ml-5 mr-3">注文履歴</h4>
      <%= link_to '一覧を見る', public_orders_path(@customer), class: "btn btn-primary form-control w-50" %>
    </div>
  </div>

</div>
