<div class="container">
  <div class="row">
    <p class="col-2 font-weight-bold bg-secondary text-light text-center m-5 h4">
      商品詳細
    </p>
    <p class="col-8 mt-5 text-right">
      <%= link_to '商品一覧ページに戻る', admin_items_path, class: 'btn btn-outline-dark' %>
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-4">
      <p>
        <%= image_tag @item.image, size: "250x200" %>
      </p>
    </div>
    <div class="col-7">
      <table class="table table-bordered">
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.explanation %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格<br>(税抜価格)</th>
          <td class="align-middle"><%= number_to_currency(@item.add_tax_price, format: "%n") %>(<%= number_to_currency(@item.price, format: "%n") %>)円</td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td>
            <% if @item.is_active %>
              <div class="text-success font-weight-bold">販売中</div>
            <% else %>
              <div class="text-muted font-weight-bold">販売停止中</div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
    <p class="d-flex justify-content-center">
      <%= link_to edit_admin_item_path(@item), class: "btn btn-success btn-lg" do%>
        編集する
      <% end %>
    </p>
</div>
