<div class="container">
  <div class="row">
    <p class="col-4 font-weight-bold bg-secondary text-light text-center m-5 h4">
      <%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集
    </p>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-7 d-flex justify-content-center align-items-center border rounded p-3 shadow">
    
      <%= form_with model: @customer, url: admin_customer_path(@customer) do |f| %>
        <%= render 'layouts/errors', obj: @customer %>
        
      <div class="font-weight-bold mt-3 ml-3">
        <%= f.label :氏名 %>
      </div>
      
      <div class="form-row m-3">
        <div class="form-inline text-secondary">
          <%= f.text_field :last_name, autofocus: true, class:"mr-4 form-control" %>
          <%= f.text_field :first_name, class:"form-control" %>
        </div>
      </div>


      <div class="font-weight-bold mt-3 ml-3">
        <%= f.label :フリガナ %>
      </div>
      
      <div class="form-row m-3">
        <div class="form-inline text-secondary">
          <%= f.text_field :last_name_kana, class:"mr-4 form-control" %>
          <%= f.text_field :first_name_kana, class:"form-control" %>
        </div>
      </div>

      <div class="font-weight-bold mt-3 ml-3 form-group">
        <%= f.label :postal_code, "郵便番号" %>
      </div>
      
      <div class="form-row m-3">
        <div class="form-inline ">
          <%= f.text_field :postal_code, class: "form-control w-100" %>
        </div>
      </div>

      <div class="font-weight-bold mt-3 ml-3 form-group">
        <%= f.label :address, "住所" %>
      </div>
      
      <div class="m-3">
        <div class="form-inline ">
          <%= f.text_field :address, class: "form-control w-100" %>
        </div>
      </div>

      <div class="font-weight-bold mt-3 ml-3 form-group">
        <%= f.label :telephone_number, "電話番号" %>
      </div>
      
      <div class="form-row m-3">
        <div class="form-inline ">
          <%= f.text_field :telephone_number, class: "form-control w-100" %>
        </div>
      </div>

      <div class="font-weight-bold mt-3 ml-3 form-group">
        <%= f.label :email, "メールアドレス" %>
      </div>
      
      <div class="m-3">
        <div class="form-inline ">
          <%= f.email_field :email, autocomplete: "email", class:"form-control w-100" %>
        </div>
      </div>

      <div class="font-weight-bold mt-3 ml-3 form-group">
        <%= f.label :is_active, "会員ステータス" %>
      </div>
      
      <div class="form-row m-3">
        <div class="form-inline ">
          <%= f.radio_button :is_active, :true, checked: @customer.is_active, class:"form-control" %>
          <%= label_tag 'is_active_true', '有効', class:"mr-5" %>
          <%= f.radio_button :is_active, :false, checked: !@customer.is_active, class:"ml-5 form-control" %>
          <%= label_tag 'is_active_false', '退会' %>
        </div>
      </div>

      <div class="m-4 d-flex justify-content-center">
        <%= f.submit "変更を保存",class: "btn btn-success form-control w-50" %>
      </div>
      
      <% end %>
      
    </div>
  </div>
</div>