<div class="container">
  <div class="row">
    <p class="col-2 font-weight-bold bg-secondary bg-secondary text-light text-center m-5 h5">
      注文履歴一覧
    </p>
  </div>
<div>
<div class="container">
  <div class="col-9 mx-auto">
  <table class='table'>
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @orders.each do |order| %>
        <td>
          <%= link_to admin_order_path(order) do %>
            <%= order.created_at %>
          <% end %>
        </td>
        <td><%= order.customer.last_name %> <%= order.customer.first_name %></td>
        <% order.order_details.each do |order_detail| %>
           <td><%= order_detail.amount %></td>
           <td><%= order_detail.order.status %></td>
        <% end %>
      </tr>
        <% end %>
    </tbody>
  </table>

  <div class="center-block">
    <%= paginate @orders, theme: 'bootstrap-5' %>
  </div>
  </div>
</div>
</div>