<h1>配送先登録/一覧</h1>

<%= form_for(@address, url: public_addresses_path) do |f| %>
<!--%= form_for(@address) do |f| %-->
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name %>

  <%= f.label :postal_code, "郵便番号" %>
  <%= f.text_field :postal_code %>

  <%= f.label :address, "住所" %>
  <%= f.text_field :address %>

  <%= f.submit "登録する" %>
<% end %>

<h2>登録済みの配送先</h2>

<% @addresses.each do |address| %>
  <p>
    <%= address.name %> <%= address.postal_code %> <%= address.address %> 
    <%= link_to '編集する', public_edit_address_path(address) %> 
    <%= link_to '削除する', public_address_path(address), method: :delete, data: { confirm: '本当に削除しますか？' } %>
  </p>
<% end %>
