<h4>注文情報確認</h4>
<table>
	<tr>
	  <th colspan="3">商品名</th>
	  <th>単価(税込)</th>
	  <th>数量</th>
	  <th>小計</th>
  </tr>
  <% total = 0 %> <!--totalを0にする-->
  <% @cart_items.each do |cart_item| %> 
    <tr>
     	<td>
        <!--image-->
        <%= cart_item.items.name %>
     	</td>
     	<td><%= (cart_item.items.price * 1.1) %></td>
     	<td><%= cart_item.amount %></td>
      <td>
        <% subtotal = ((cart_item.items.price * cart_item.amount) * 1.1) %>
        <%= subtotal %>
      </td>
    </tr>
    <% total += (cart_item.items.price * cart_item.amount) * 1.1 %>
  <% end %>
</table>

<table>
	<tr>
    <th>送料</th>
    <% @order.shipping_fee = 800 %>
    <td><%= @order.shipping_fee %></td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td><%= total %></td>
  </tr>
  <tr>
    <th>請求金額</th>
    <% @order.total_payment = @order.shipping_fee + total %>
    <td><%= @order.total_payment %></td>
  </tr>
</table>

<storong>支払い方法</storong>
<%= @order.payment_method %>

<storong>お届け先</storong>
<%= @order.postal_code %> <%= @order.address %>
<%= @order.name %>

<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :customer_id %>
  <%= f.hidden_field :shipping_fee %>
  <%= f.hidden_field :total_payment %>
  <%= f.hidden_field :payment_method %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :postal_code %>
  <%= f.hidden_field :status %>
  <%= f.submit "注文を確定する", class: "btn btn-success" %>
<% end %>