<h5>注文履歴一覧</h5>

<% if @orders.count == 0 %>
  <div class='mx-auto max-w-3xl'>
    <p class='mb-8 text-xl text-center'>ご注文はございません</p>
    <div class='flex justify-center'>
      <%= link_to '商品一覧へ', public_items_path %>
    </div>
  </div>
<% else %>
  <table class='table'>
  <thead>
    <tr>
      <th>注文日</th>
      <th colspan="4">配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th>注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td colspan="4">
          〒<%= order.postal_code %></br>
          <%= order.address %></br>
          <%= order.name %>
        </td>
        <td>
          <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %>
          <% end %>
        </td>
        <td>
          <% total = order.total_payment + order.shipping_fee %>
          <%= number_to_currency(total, unit: "", strip_insignificant_zeros: true) %>円
        </td>
        <td><%= order.status %></td>
        <td>
          <%= link_to '表示する', public_order_path(order.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>