<h5>注文情報入力</h5>

<%= form_with model: @order, url: "/orders/confirm", method: :post, local: true do |f| %>

	<h5>支払い方法</h5>
  <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>  
  <%= f.label :payment_method, "クレジットカード" %>
  <br>
  <%= f.radio_button :payment_method, :銀行振込 %>  
  <%= f.label :payment_method, "銀行振込" %>

	<h5>お届け先</h5>
  <%= f.radio_button :address_option, 0, checked: "checked" %>　
  <%= f.label :address, "ご自身の住所" %>  
  <br>
  〒<%= current_customer.postal_code %> <%= current_customer.address %>
  <br>
  <%= current_customer.last_name %><%= current_customer.first_name %>
  <br>
  
  <%= f.radio_button :address_option, 1 %>
  <%= f.label :address, "登録済住所から選択" %>
  <br>
  <%= f.collection_select :customer_id, @addresses, :id, :adress %>
  
  <%= f.radio_button :address_option, 2 %>
  <%= f.label :order_address, "新しいお届け先" %>
  <br>
  <%= f.label :postal_code, "郵便番号(ハイフンなし)" %> <%= f.text_field :postal_code　%>
  <br>
  <%= f.label :address, "住所" %> <%= f.text_field :address %>
  <br>
  <%= f.label :name, "宛名" %> <%= f.text_field :name %>
  <br>
  <%= f.submit "確認画面へ進む" %>          
<% end %>