<div class='container'>
  <div class='row'>
    <div class='col-md-2'>
			<div>
				<!--< render 'layouts/genre' >-->
			</div>
		</div>

    <div class='col-md-4'>
    	<%= image_tag @item.image, size: "250x150", class: "img-fluid", alt: "image" %>
    </div>

    <div class='col-md-6'>
    	<div class="h3"><%= @item.name %></div>
    	<div><%= @item.explanation %></div>
   		<div><span>￥ <%= @price_taxin %></span> (税込)</div>

   		<% if @item.is_active == "true" %>
    		<%= form_with model: @cart_item, lacal: true do |f| %>
	    		<%= f.hidden_field :item_id, :value => @item.id %>
	   			<%= f.select :amount, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], include_blank: "個数選択" %>
	   			<%= f.submit 'カートに入れる', class: 'btn btn-success' %>
				<% end %>
   		<% end %>
    </div>
  </div>
</div>