<header>
  <div class="container text-center">
    <div class="row">
      <div class="col-3">
        <li>
    　     <%= link_to root_path, class: "border border-dark" do %>
            ここにロゴ
          <% end %>
        </li>
      </div>
        <div class="col-6 justify-content-end">

          <li>
            <%= link_to admin_items_path, class: "btn btn-outline-secondary" do %>
              商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to  admin_customers_path, class: "btn btn-outline-secondary" do %>
              会員一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_path, class: "btn btn-outline-secondary" do %>
              注文履歴一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_genres_path, class: "btn btn-outline-secondary" do %>
              ジャンル一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary" do %>
              ログアウト
            <% end %>
          </li>
        <% end %>
        </div>
    </div>
  </div>
</header>