          <li class="nav-item">
            <%= link_to admin_items_path, class: "btn btn-outline-secondary mr-3 nav-link text-dark" do %>
              商品一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to  admin_customers_path, class: "btn btn-outline-secondary mr-3 nav-link text-dark" do %>
              会員一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_path, class: "btn btn-outline-secondary mr-3 nav-link text-dark" do %>
              注文履歴一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_genres_path, class: "btn btn-outline-secondary mr-3 nav-link text-dark" do %>
              ジャンル一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_log_out_path, method: :delete, class: "btn btn-outline-secondary nav-link text-dark" do %>
              ログアウト
            <% end %>
          </li>

