<header class="border-bottom border-dark">
  <div class="container">
    <div class="row mt-4 mb-4">
      <div class="col-4 d-flex align-items-center">
    　     <%= link_to root_path, class: "border border-dark" do %>
            ここにロゴ
          <% end %>
        </li>
      </div>


      <div class="col-3 d-flex align-items-center">
        <% if customer_signed_in? %>
          ようこそ、<%= current_customer.last_name %>さん!
        <% end %>
      </div>

      <div class="col-5">
        <div class="d-flex justify-content-between ">

          <% if admin_signed_in? %>
            <%= render 'layouts/admin_header' %>
          <% elsif customer_signed_in? %>
            <li class="d-flex">
              <%= link_to public_customers_information_path, class: "btn btn-outline-secondary" do %>
                マイページ
              <% end %>
            </li>
            <li class="d-flex">
              <%= link_to  public_items_path, class: "btn btn-outline-secondary" do %>
                商品一覧
              <% end %>
            </li>
            <li class="d-flex">
              <%= link_to public_cart_items_path, class: "btn btn-outline-secondary" do %>
                カート
                <% if current_customer.cart_items.map(&:amount).any?%>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white", style="position:relative; transform: translateY(-25%);">
                <%= current_customer.cart_items.map(&:amount).sum %>
               </span>
               <% end %>
              <% end %>
            </li>
            <li class="d-flex">
              <%= link_to destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary" do %>
                ログアウト
              <% end %>
            </li>
          <% else %>
            <li class="d-flex">
              <%= link_to about_path, class: "btn btn-outline-secondary" do %>
                About
              <% end %>
            </li>
            <li class="d-flex">
              <%= link_to public_items_path, class: "btn btn-outline-secondary" do %>
                商品一覧
              <% end %>
            </li>
            <li class="d-flex">
              <%= link_to new_customer_registration_path,class: "btn btn-outline-secondary" do %>
                新規登録
              <% end %>
            </li>
            <li class="d-flex">
              <%= link_to new_customer_session_path ,class: "btn btn-outline-secondary" do %>
                ログイン
              <% end %>
            </li>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</header>